*{
    margin:0;
    padding:0,
}

.center{
 padding: 50px;
}

.borderCheck {
    border: 1px solid red;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
}

.active {
    background-color: gray;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    margin: 50px;
    height: 120px;
    width: 350px;
    padding: 40px;
}

.profile{
    width: 50px;
}

.profileSection{
    padding: 30px;
}